<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>183309418710-h3mqldj0jstdt3ehk445rcd8kcs1tkpa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.183309418710-h3mqldj0jstdt3ehk445rcd8kcs1tkpa</string>
	<key>API_KEY</key>
	<string>AIzaSyD3pHvqq3tWF5h-2mZfn1sV7NsiLADM_uI</string>
	<key>GCM_SENDER_ID</key>
	<string>183309418710</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>CSE439SFlashPrizm.FlashPrizm</string>
	<key>PROJECT_ID</key>
	<string>flashprizm</string>
	<key>STORAGE_BUCKET</key>
	<string>flashprizm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:183309418710:ios:fd407c5f7f433befd84977</string>
</dict>
</plist>
